

<div class="hero-unit">
<p>
  Posted by <%= @user.email %>
  </br>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong></strong>
  <%= simple_format(@post.body) %>
</p>
</div>

<h2>Comments</h2>
<div id="comments">
   <%= render :partial => @post.comments.reverse %>
</div>
 
<%= form_for([@post, Comment.new], remote: true) do |f| %>
    <p><%= f.label :body, "New comment" %>
    <br/>
    <%= f.text_area :body %>
    </p>
    <p>
      <%= f.submit "Add comment", :id => 'add_comment'%>
    </p>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>  
<script type="text/javascript">
  $(document).ready(function(){
   $('#add_comment').attr('disabled', true);
   $('#comment_body').on('keyup',function() {
    if($(this).val() != '') {
        $('#add_comment').attr('disabled' , false);
        
    }else{
        $('#add_comment').attr('disabled' , true);
    }

   });
 });
</script>