<!DOCTYPE html>
<html lang="en">
<head>
  <title>MyApp</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/assets/bootstrap.min.css" rel="stylesheet" media="screen">
  <%= csrf_meta_tags %>
 
 
</head>

<body>

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">My BLOG</a>
    <ul class="nav">
      <li class="active"><a href="/posts">Home</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#myModal"  data-toggle="modal">Contact me</a>
        <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Programmer</h3>
          </div>
          <div class="modal-body">
            <img src="/assets/bike.jpg" align="center">
            <p>whats in the name...By the way my name is Saurabh</p>
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cheers</button>

          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<p class="navbar-text pull-right">
<% if user_signed_in? %>
      <%= image_tag current_user.gravatar_url %>
    Logged in as <strong><%= current_user.email %></strong>.
    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
<% else %>
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>

<div class="container">
  <div class="span6 offset2">
    <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
    <% end %>
  <%= yield %>
  </div>
</div>

<script data-turbolinks-track="true" src="/assets/jquery-1.7.2.min.js"></script>
</body>
</html>
